@use 'mixin' as mixin;

@tailwind base;
@tailwind utilities;
@tailwind components;


html {
  scroll-behavior: smooth;
}

button:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}


.swiper-pagination-bullet-active {
  background: #120A44 !important;
}

.react-international-phone-input-container {
  border-radius: 12px;
  padding: 4px 0 4px 8px;
  border: 1px solid #E4E4E7;
  overflow: hidden;
}

.react-international-phone-input,
.react-international-phone-country-selector-button {
  border: none !important;
  font-size: 16px !important;
  background: white !important;
}

.pulse {
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
  transform: scale(1);
  animation: pulse 2s infinite;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #1d3044;
}


.colm1{
  width: calc((100% - 20px) / 2);
}

.colm2{
  width: calc((100% - 48px) / 3);
}
.colm3{
  width: calc((100% - 120px) / 6);
}

.colm4{
  width: calc((100% - 36px) / 4);
}

.myScroll::-webkit-scrollbar {
  width: 4px;
}

.myScroll::-webkit-scrollbar-track {
  background: transparent;
}

.myScroll::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 8px;
}


@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(5, 159, 0, 0.57);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(98, 217, 51, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(106, 217, 51, 0);
  }
}